<app-zone
[zone_name]="main_zone.name"
[zone_background]="main_zone.background"
[zone_width]="main_zone.width"
[zone_height]="main_zone.height"
[zone_pos_x]="main_zone.pos_x"
[zone_pos_y]="main_zone.pos_y"
></app-zone>

<app-zone
[zone_name]="vert_zone.name"
[zone_background]="vert_zone.background"
[zone_width]="vert_zone.width"
[zone_height]="vert_zone.height"
[zone_pos_x]="vert_zone.pos_x"
[zone_pos_y]="vert_zone.pos_y"
></app-zone>

<app-zone
[zone_name]="feed_zone.name"
[zone_background]="feed_zone.background"
[zone_width]="feed_zone.width"
[zone_height]="feed_zone.height"
[zone_pos_x]="feed_zone.pos_x"
[zone_pos_y]="feed_zone.pos_y"
></app-zone>

<app-zone
[zone_name]="feed_zone.name"
[zone_background]="feed_zone.background"
[zone_width]="feed_zone.width"
[zone_height]="feed_zone.height"
[zone_pos_x]="feed_zone.pos_x"
[zone_pos_y]="feed_zone.pos_y"
></app-zone>

<app-zone
[zone_name]="logo_zone.name"
[zone_background]="logo_zone.background"
[zone_width]="logo_zone.width"
[zone_height]="logo_zone.height"
[zone_pos_x]="logo_zone.pos_x"
[zone_pos_y]="logo_zone.pos_y"
></app-zone>