<div class="getting-ready">
    <img src="assets/n-compass.png" class="logo" alt="n-compass">
    <div class="container h-100 d-flex align-items-center">
        <div class=" w-100">
                <ul class="message-list">
                    <li class="message-item">
                        <h1 class="setup-message" [ngClass]="showMessage ? 'fadeIn' : 'fadeOut'">
                            <span >
                                {{ setup_message[message_count] }}
                            </span>
                        </h1>
                    </li>
                </ul>
            <app-progress-bar
            [progress]="download_status"></app-progress-bar>
            <p class="sm-text">Download Progress: <span class="percent_count">{{ download_status | number: '1.0-0' }}%</span></p>
        </div>
    </div>
</div>