.screen-saver {
    align-items: center;
    background-color: #000;
    display: flex;
    height: 100vh;
    justify-content: center;
    width: 100%;
    text-align: center;
    overflow: hidden;
    .time-date {
        color: #fff;
        font-weight: 500;
        font-size: 200px;
        line-height: 120px;
        padding: 30px 50px 30px 50px;
        margin: 0;
        .time {
            display: inline-block;
            min-width: 500px;
            text-align: center;
        }
        .time-a {
            display: inline-block;
            font-size: 100px;
            margin-left: 10px;
        }
        .date {
            display: inline-block;
            font-size: 80px;
            letter-spacing: 5px;
            width: 100%;
        }
    }

    .message {
        color: #fff;
        position: absolute;
        bottom: 10px;
        left: 20px;
        width: 100%;
        margin: auto;
        h3 {
            font : {
                size: 18px;
                weight: 500;
            }
            margin-bottom: 0;
        }
    }
}