<div class="screen-saver" [ngClass]="{'morning': day_status == 'morning', 'afternoon': day_status == 'afternoon', 'evening': day_status == 'evening'}">
    <div class="time-date">
        <div class="greeting">
            <h2>
                {{ day_greeting }}
            </h2>
        </div>
        <div class="time">
            {{ time | date: 'hh:mm' }}
        </div>
        <div class="time-a">
            {{ time | date: 'a' }}
        </div>
        <div class="date">
            {{ time | date }}, {{ time | date: 'EEEE' }}
        </div>
        <div class="message">
            <h3>
                You may have entered an unactivated or license. Please contact your administrator - {{ license_key }}.
            </h3>
        </div>
    </div>

    <div class="controls">
        <button class="pi-control reset-player" (click)="resetPlayer()">
            Reset Player
        </button>
        <button class="pi-control reload-player" (click)="reloadPlayer()">
            Reload Player
        </button>
    </div>
</div>